<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <footer>
        <br><br>
        <a href="{{ url_for('homepage') }}">Home</a>
        <a href="{{ url_for('akoto_tuition') }}">Akoto Tech</a>
        <a href="{{ url_for('ref') }}">References</a>
        <a href="{{ url_for('projects') }}">Projects</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('admin_login') }}">Admin</a>
    </footer>
</body>
</html>